RemiRobot/config.py
RemiRobot/*.session
RemiRobot/*.session-journal
RemiRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
RemiRobot/modules/helper_funcs/temp.txt
RemiRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
remi.session-journal
updates.txt
*.exe
